@charset "UFT-8";
.wrap-container {
  background-color: #29BDE0;
  overflow: hidden;
}
header {
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 88px;
}
.menu {
  margin: 25px 0 0 24px;
  float: left;
  padding: 0 4px;
  border: 2px solid #fff;
  cursor: pointer;
}
.menu li {
  margin: 8px 0;
  width: 39px;
  height: 2px;
  border: 1px solid #37C1E1;
  background-color: #fff;
}
.close {
  display: block;
  float: right;
  width: 38px;
  height: 38px;
  margin: 26px 24px 0 0;
  overflow: hidden;
  background: url(../images/close.gif) no-repeat;
}
/* @main */
.main {
  position: relative;
}
.tips {
  height: 82px;
  line-height: 82px;
  background-color: #8ADBEE;
  padding: 0 16px 0 47px;
  position: relative;
}
.tips:after {
  content: "";
  position: absolute;
  left: 70px;
  top: 82px;
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  border-color: #B9E9F5 transparent transparent transparent;
}
.tips p {
  float: left;
  color: #464646;
  font-size: 28px;
}
.tips .voice {
  float: right;
  width: 52px;
  height: 52px;
  margin-top: 15px;
  border-radius: 52px;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  background-color: #FBB335;
  position: relative;
}
.tips .voice .triangle {
  position: absolute;
  left: 20px;
  top: 12px;
  width: 0;
  height: 0px;
  border-width: 13px;
  border-style: solid;
  border-color: transparent transparent transparent #AEE6F3;
}
.vote h3 {
  margin-top: 28px;
  padding-left: 74px;
  font-size: 24px;
  color: #fff;
}
.vote .list-items {
  margin-top: 42px;
}
.item {
  width: 138px;
  height: 188px;
  float: left;
  margin: 0 32px 22px 40px ;
}
.item .occupation {
  text-align: center;
  width: 126px;
  border: 5px  solid #fff;
}
.item .occupation p {
  height: 99px;
  line-height: 99px;
  background-color: #F5C97B;
  font-size: 24px;
}
.item .occupation .num {
  display: block;
  height: 27px;
  background-color: #82AF9A;
  font-size: 20px;
}
.item .select {
  margin-top: 22px;
  display: none;
}
.item .select li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 2px;
  overflow: hidden;
  background: url("../images/select.gif")  no-repeat #fff;
}
.scroll-bar {
  position: absolute;
  top: 192px;
  right: 6px;
  width: 7px;
  height: 543px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
