*{margin: 0;padding: 0;}
ul,ol,dl{list-style: none;}
body{
	font-size: 14px ;
	font-family: arial,'微软雅黑', 'Microsoft Yahei', 'Hiragino Sans GB',  '宋体';
	color: #333;
}
.inner{
	width: 1200px;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after{
	display: table;
	content: "";
}

.clearfix:after{
	clear: both;
}
.clearfix{
	*zoom: 1;
}

a{
	text-decoration: none;
	color: #333;
	outline: none;
}
